.notes__container {
  column-count: 1;
  column-gap: 10px;
  padding: 10px;
  @media (min-width: 576px) {
    column-count: 2;
  }
  @media (min-width: 768px) {
    column-count: 3;
  }
  @media (min-width: 992px) {
    column-count: 4;
  }
}

.note {
  background-color: lightblue;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.note__title {
  font-size: 20px;
  font-weight: 700;
  outline: none;
}

.note__list {
  padding: 0;

  li {
    list-style: none;
    margin: 3px 0;
    display: flex;
    align-items: start;
    position: relative;
    padding-right: 15px;

    &:hover {
      .delete {
        display: block;
      }
      .content{
        border-bottom: 1px solid gray;
      }
    }
  }


  input[type='checkbox'] {
    display: none;
  }

  label {
    position: relative;
    display: inline-block;
    top: 2px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 3px;
    border: 1px solid #383838;
    cursor: pointer;

    &:after {
      display: block;
      position: absolute;
      content: '';
      background-color: transparent;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      transition: background-color 0.5s;
    }
  }

  input:checked + label {
    &:after {
      background-color: #383838;
    }
  }
  div > input:checked + div.content span{
    color: gray;
    text-decoration: underline;
  }
}

.content {
  width: 100%;

  span {
    display: block;
    outline: none;
    word-break: break-word;
  }
}

.delete {
  display: none;
  position: absolute;
  cursor: pointer;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  padding: 2px 5px;
  right: -5px;
}

.button {
  display: inline-block;
  padding: 5px;
  border: none;
  background-color: steelblue;
  margin-right: 20px;
  outline: none;
  border-radius: 3px;

  &:hover {
    background-color: dodgerblue;
  }
}